<form id="main-contact" ng-submit="googleVerify()">
  <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="col-sm-12">
      <div class="form-group">
        <input type="text" name="name" class="form-control form-control-white" placeholder="Nombre" ng-model="model.name">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input type="email" name="email" class="form-control form-control-white" placeholder="Email" ng-model="model.mail">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input type="number" name="phone" class="form-control form-control-white" placeholder="Teléfono" ng-model="model.phone">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <input type="radio" ng-click="selectplan('eco');" name="radio1" value="algo"> Plan Económico
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="radio" ng-click="selectplan('full');" name="radio1" value="algo"> Plan Full
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <input type="radio" name="radio1" ng-click="selectplan('info');" value="algo"> Más Información
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea name="message" class="form-control form-control-white" rows="4" maxlength="300" placeholder="Ingrese su mensaje" ng-model="model.message"></textarea>
  </div>

  <div class="form-group">
    <input type="number" class="form-control form-control-white" placeholder="¿CUANTO ES: {{txtTmp}} ?" ng-model="model.validation">
  </div>


  <input type="hidden" name="plan" id="plan" value="">

  <div style="display:none;" vc-recaptcha key="publicKey" on-create="setWidgetId(widgetId)" on-success="setResponse(response)"></div>

  <input type="submit" class="btn btn-primary" name="name" value="Enviar Datos">
</form>
